{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
    <title>Confirm Password Reset</title>
    <style>
        P {
            font-family: Arial, sans-serif; /* Choose a nice font */
            font-size: 16px; /* Choose a suitable font size */
        }
        
    </style>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="form-data">
    <h1>Reset Your Password</h1><br>
    <p>Please enter a new password below to reset your password.</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset Password</button>
    </form>
</div>
</div>
</div>
</body>
</html>
