{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
    <title>Password Reset Complete</title>
    <style>
        P {
            font-family: Arial, sans-serif; /* Choose a nice font */
            font-size: 16px; /* Choose a suitable font size */
        }
        
    </style>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="form-data">
    <h1>Password Reset Complete</h1><br>
    <p>Your password has been successfully reset. You can now <a href="{% url 'sign-in' %}">sign in</a> with your new password.</p>
</div>
</div>
</div>
</body>
</html>
