{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets2/style.css' %}">
    <title>Password Reset Done</title>
    <style>
        P {
            font-family: Arial, sans-serif; /* Choose a nice font */
            font-size: 16px; /* Choose a suitable font size */
        }
        
    </style>
</head>
<body>
    <div id="wrapper">
        <div class="container">
            <div class="form-data">
    <h1>Password Reset Email Sent</h1><br>
    <p>We have sent you an email with instructions on how to reset your password. Please check your inbox.</p>
</div>
</div>
</div>
</body>
</html>
